body {
    font-size: 12px;
    background-color: #ddd;
}

p {
    font-size: 12px;
}

#header-title{
    color: black;
    text-align: center;
}

.tab {
    padding: .5em 1em 0em 1em;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    font-size: 20px;
}

.active-tab {
    background-color: white;
    border: solid white;
}

.inactive-tab {
    background-color: #eee;
    border: solid #eee;
}


.content {
    background-color: white;
    padding: .5em 1em;
    border-top-right-radius: .5em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}
