body {
    font-size: 12px;
    background-color: #ddd;
}

p {
    font-size: 12px;
}

.header {
    background-color: #004A80;
}

.header-stripe {
    background-color: #990000;
    height: 13px;
}

.header-stripe2 {
    background-color: white;
    height: 5px;
}

#header-title{
    color: white;
    text-align: center;
    font-family: "Monaco";
}

#intro {
    text-align: center;
    padding: 1em;
    font-size: 13px;
    font-family: georgia;
}

#content-container {
    padding: 1em 0em;
}

.container {
    background-color: white;
    padding: .5em 2em;
    margin: -10px 0em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.tab {
    padding: .25em 1em 0em 1em;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    font-size: 19px;
    font-family: "Monaco";
}

.active-tab {
    background-color: white;
    border: solid white;
}

.inactive-tab {
    background-color: #eee;
    border: solid #eee;
}

.explanation {
    /*vertical-align: text-top;*/
    font-size: 15px;
}

.box {
    float: right;
}

.container-1{
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    padding: 2em 0em;
}

.container-1 input.search{
    background: #eee;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #c0bebf;
    height: 40px;
    width: 200px;
    float: right;
}

.container-1 input.search::-webkit-input-placeholder {
    color: #65737e;
}

.container-1 input.search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;
}

.container-1 input.search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;
}

.container-1 input.search:-ms-input-placeholder {
    color: #65737e;
}

.container-1 .icon{
    position: absolute;
    top: -7px;
    right: 185px;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
    float: right;
}

input:focus {
    outline: none;
    border-color: #004A80;
    box-shadow: 0 0 10px #004A80;
}


.content {
    background-color: white;
    padding: .5em 1em;
    border-top-right-radius: .5em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    overflow: auto;
}

#table-container {
    overflow:scroll;
    height:200px;
}

#table {
    border: solid white;
    color: white;
}

tr:hover, tr.selected {
    background-color: #666666;
}

.republican-row {
    /*background-color: #fce9e8; Lighter color */
    background-color: #990000;
    border: solid white;
}

.democratic-row {
    border: solid white;
    /*background-color: #e6f4ff; Lighter color */
    background-color: #004A80;
}

a.candidate-link:link {text-decoration: none; color: white;}
a.candidate-link:visited {text-decoration: none; color: white;}
a.candidate-link:hover {text-decoration: none; color: #ddd;}
a.candidate-link:active {text-decoration: none; color: white;}

A:link {text-decoration: none; color: black;}
A:visited {text-decoration: none; color: black;}
A:hover {text-decoration: none; color: black;}
A:active {text-decoration: none; color: black;}

.candidate-box {
    border: solid 2px #C21E15;
    border-radius: .5em;
    padding: 1em;
    margin: 1em;
}

.dem-border {
    border: solid 4px #004A80;
    padding: 10px;
}

.rep-border {
    border: solid 4px #C21E15;
    padding: 10px;
}

.candidate-img {
    width: 50%;
    height: 50%;
    float: left;
    padding: 0em .5em .5em 0em;
}

.name {
    font-size: 17px;
    font-family: 'Georgia';
    font-weight: bold;
}

.party {
    font-size: 10px;
    color: #ccc;
    padding: .25em;
}

.bio {
    padding: 0em 0em .75em 0em;
    font-size: 13px;
}

.platform-points {
    color: #a6a6a6;
    font-family: georgia;
}

a.sources:link {text-decoration: none; color: #ddd;}
a.sources:visited {text-decoration: none; color: #ddd;}
a.sources:hover {text-decoration: none; color: #004A80;}
a.sources:active {text-decoration: none; color: #ddd;}


/* Pinterest-like styles */
#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 5px;
  margin: 5px;
}

.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#map-explanation {
    text-align: center;
}

.map {
    left: 22%;
}

.party-box {
    width: 13px;
    height: 13px;
    margin:auto; display:
    inline-block;
    border: 1px solid gray;
    border-radius: 2px;
    background: #FF0000
}

.republican-color {
    background-color: #990000;
}

.democratic-color {
    background-color: #004A80;
}

.other-color {
    background-color: #4d4d4d;
}




@media screen and (max-width: 1200px) {
    .map {
        left: 15%;
    }
}

@media screen and (max-width: 900px) {
    .map {
        left: 5%;
    }
}

/* Styles for responsive design */
@media screen and (max-width: 770px) {
    #content-container {
        padding: 1em 2em;
    }

    .explanation {
        font-size: 10px;
        text-align: center;
        padding: 0em 0em 2.5em 0em;
    }

    .box {
        float: none;
        margin: auto;
        width: 225px;
        height: 50px;
        padding: 1em 1em 1em 1em;
    }

    .container-1 .icon {
        top: 45px;
    }

    #table {
        border: solid white;
        color: white;
        font-size: 10px;
    }

    .candidate-img {
        width: 30%;
        height: 30%;
        float: left;
        padding: 0em .5em .5em 0em;
    }

    .tab {
        display: none;
    }

    .content {
        border-top-left-radius: .5em;
    }
}
