<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Senate Dashboard</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/jqvmap.css">

  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="js/raphael.js"></script>
  <script src="js/jquery.vmap.js"></script>
  <script src="js/jquery.vmap.usa.js"></script>

</head>
    <body ng-app="senate">
        <div class="row header">
            <div class="row header-stripe"></div>
            <h1 id="header-title">US Senate Dashboard</h1>
            <div class="row header-stripe2"></div>
        </div>
        <div id="intro">
            Welcome to an overview of the 2016 US Senate Election.<br>
            Click on the tabs to view the seats in different formats and learn
            more about the senators and candidates.
        </div>
        <div id="content-container" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 row" ng-controller="SenateCtrl as seats" id="SenateCtrl">

            <div class="hidden-xs">
                <a href=""><span ng-click="seats.changeTab(1)" ng-model="showTab1" class="active-tab tab" id="tab1">Table</span></a>
                <a href=""><span ng-click="seats.changeTab(2)" ng-model="showTab2" class="inactive-tab tab" id="tab2">Map</span></a>

                <div ng-show="!showTab1" class="content" >
                    <div ng-include="'table.html'"></div>
                </div>
                <div ng-show="showTab1" class="content hidden-xs">
                    <br>
                    <div class="row explanation" id="map-explanation">
                        <p>Click on a state to view the senators and candidates by area.</p><br>
                        <span class="party-box republican-color"></span>
                        <span>Republican majority &nbsp;</span>
                        <span class="party-box democratic-color"></span>
                        <span>Democratic majority &nbsp;</span>
                        <span class="party-box other-color"></span>
                        <span>Both parties &nbsp;</span>
                    </div>
                    <div id="map-container">
                        <div id="vmap" style="width: 600px; height: 400px;" class="map"></div>
                    </div>
                </div>
            </div>
            <div class="visible-xs">
                <div class="content" >
                    <div ng-include="'table.html'"></div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 row container">
                <div id="candidates"></div>
            </div>
        </div>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>
